@import url("https://fonts.googleapis.com/css?family=Quantico&display=swap");

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  line-height: 2;
  font-family: "Quantico", sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
}

.container {
  padding: 10px 5px;
  background: rgba(0, 0, 0, 0) linear-gradient(20deg, #f93, #fc3);
  min-height: 100vh;
}

.notificationContainer {
  display: flex;
  justify-content: center;
  background-color: #fff;
  max-width: 600px;
  margin: 1rem auto;
  align-items: center;
  flex-wrap: wrap;
}

.notificationContainer h3,
.notificationContainer p {
  width: 100%;
  text-align: center;
}

.notificationContainer p {
  margin: 0;
  line-height: 2rem;
}

.notificationContainer p:last-child {
  margin-bottom: 2rem;
}
